
.elements{
    border: 2px solid blue;
    position: relative;
}
.elements .element {
    background-color: orange;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 3rem;
    width: 500px;
    height: 500px;
}


.element:nth-child(3){
    position:absolute;
    background-color: aqua;
    left: 0;
   
}

.element:nth-child(2){
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: blueviolet;
}

/*span{
    background-color: orangered;
    margin-bottom: 5px;
    display: block;
    width: 500px;
    height: 500px;
}*/

